.pinheadTitle{
  padding-left: 30px;
  margin-top: 1.5%;
}

.cardPanelBody{
  background: linear-gradient(125deg, #CCE6DF 50%, #C7E0DA 50%);
  border: 2px solid rgba(25,49,56,0.9);
  box-shadow: 0 10px 30px -7px rgba(25,49,56,0.5);
}

.board{
  color: white;
  background: linear-gradient(125deg, rgba(230,230,230,0.4) 50%, rgba(250,250,250,0.6) 50%);
  border: 2px solid white;
  height: 350px;
  overflow: scroll;
}

.boardTitle {
  text-decoration: none;
  color: white;
  background-color: rgba(25,49,56,0.8);
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 30px -15px rgba(25,49,56,0.5);
}

.boardRow{
  background-color: rgba(25,49,56,0.6);
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 30px -15px rgba(25,49,56,0.5);
}

.deleteBoardRow{
  background-color: rgba(25,49,56,0.4);
  text-align: center;
  border-radius: 0 0 50% 50%;
  padding: 10px;
  box-shadow: 0 4px 30px -15px rgba(25,49,56,0.5);
}


.deleteButtons{
  color: white;
  border-radius: 5px;
  background-color: rgba(20,20,20,0.3);
  border: 2px solid white;
  padding: 0 20px;
}

.biggerIcon{
  text-align: center;
  padding: 20px;
  font-size: 2.5em;
}
.addBoardDiv{
  padding: 20px;
  text-align: center;
}

//////*******login stuff*******\\\\\\\\
.login {
	text-align: center;
	border: 1px solid black;
	margin-left: 40%;
	margin-top: 12%;
	width: 200px;
	height: 180px;
	box-shadow: inset 0 5px 12px black;
}
.sassafrass {
	box-shadow: 0 10px 12px black;
}

.logout {
	border: none;
	background: none;
	// position: relative;
	margin-top: 1.15%;
  float: right;
  // left: 85%;
	// text-align: center;
}
.boards {
  float: right;
  // position: relative;
  // right: 100%;
}
// .navbar {
//   padding: 2% 0 auto 0;
// }

img {
  max-width: 100%;
  max-height: 100px;
}