
.cardPanelBody{
  background: linear-gradient(125deg, #CCE6DF 50%, #C7E0DA 50%);
  border: 2px solid rgba(25,49,56,0.9);
  box-shadow: 0 10px 30px -7px rgba(25,49,56,0.5);
}

.board{
  background-color: pink;
  border: 2px solid slategrey;
  height: 350px;
}

.boardTitle{
  background-color: green;
  border: 2px dashed black;
  text-align: center;
}

.boardRow{
  background-color: pink;
  border: 2px dashed white;
  text-align: center;
}

.deleteBoardRow{
  background-color: fuchsia;
  border: 2px dashed orange;
  text-align: center;
}

.biggerIcon{
  font-size: 2.5em;
  text-align: center;
}
.addBoardDiv{
  text-align: center;
  padding: 10px;
}

//////*******login stuff*******\\\\\\\\
.login {
	text-align: center;
	border: 1px solid black;
	margin-left: 40%;
	margin-top: 12%;
	width: 200px;
	height: 180px;
	box-shadow: inset 0 5px 12px black;
}
.sassafrass {
	box-shadow: 0 10px 12px black;
}