<div ng-include="'partials/navbar.html'"></div>


<div class="row">
  <div class="col-xs-10 col-xs-offset-1 main-container">
    <div class="col-xs-12">

      <h1>Pinhead / Your Pins</h1>
      <div class="row">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
        <div class="panel panel-default DONOTSTYLETHIS">
          <div class="panel-body cardPanelBody">

            <div ng-repeat="pin in pins | filter: boardID | filter: searchText">
              <div class="col-xs-4 board">

                <div class="row boardTitle">
                  <a href="#/pinhead/board/{{pin.boardID}}/{{pin.id}}">
                  <h2>{{pin.title}}</h2></a>
                </div>
                <div class="row boardRow">
                  <img ng-src= {{pin.url}}>
                </div>
                <div class="row boardRow">
                  {{pin.description}}
                </div>
                <div class="row boardRow">
                  {{pin.tags}}
                </div>
                <div class="row deleteBoardRow">
                  <button type="btn btn-default" ng-click="deletePinCall(pin.id)" class="deleteButtons">Delete</button>
                </div>  <!-- class="row deleteBoardRow"> -->
              </div>   <!-- class="col-xs-4 board"> -->
            </div>  <!-- ng-repeat -->


            <div class="col-xs-4 board">
              <div class="row spacer"> </div>
              <a class="addBoardDiv" ng-href="#/pinhead/newPinform/{{boardID}}">
                <span class="glyphicon glyphicon-pushpin biggerIcon" aria-hidden="true"></span>
                 <h3>Add Pins</h3>
              </a>
              <div class="row spacer"> </div>
            </div>  <!-- class="col-xs-4 board"> -->


          </div><!-- class="panel-body cardPanelBody"> -->
        </div>   <!-- class="panel panel-default DONOTSTYLETHIS"> -->
      </div>

    </div>
  </div>
</div>